doctype html
html
  head
    meta(name="testBase")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{site_title}
    block 

  body
    block root

