extends ../blueprints/base

block includes
  include src/attribute
  style.
    @tailwind base;

block root
  style.
    @import "/src/components/src/attribute.css";

  +attributes
    +attr("Commission", "15%", "highlight", "%",)
    +attr("Project size range", "$60K+", "accent", "$")
    
