extends ../blueprints/base

block includes
  include src/attribute
  include src/card
  style.
    @tailwind base;

block root
  style.
    @import "/src/components/src/attribute.css";
    @import "/src/components/src/card.css";

  +card(
    "Southeast Asia market research and management consulting services",
    "Consulting",
    "product-image-1@2x.jpg",
  )
    +attributes("vertical md:horizontal")
      +attr("Commission", "15%", "highlight", "%",)
      +attr("Project size range", "$60K+", "accent", "$")
