extends ../blueprints/base

block includes
  include src/attribute
  include src/panel
  style.
    @tailwind base;

block root
  style.
    @import "/src/components/src/attribute.css";
    @import "/src/components/src/panel.css";

  +panel(
    "Operation Director / COO",
    "Fieldglass Contingent Workforce Management",
    "It is a long established fact that a reader will be distracted by the readable content layout.",
    "product-image-1@2x.jpg",
    "https://google.com",
  )
    +attributes("vertical md:vertical")
      +attr("Conversion rate", "27%", "highlight")
      +attr("Average commission", "$60K+", "accent")

