extends ../blueprints/base

block includes
  include src/card
  include src/swipe
  style.
    @tailwind base;

block root
  style.
    @import "/src/components/src/card.css";
    @import "/src/components/src/swipe.css";

  +swipe(3)
    +card(
      "Southeast Asia market research and management consulting services",
      "Consulting",
      "product-image-1@2x.jpg",
    )
    +card(
      "Southeast Asia market research and management consulting services",
      "Consulting",
      "product-image-1@2x.jpg",
    )
    +card(
      "Southeast Asia market research and management consulting services",
      "Consulting",
      "product-image-1@2x.jpg",
    )

