extends blueprints/base

block root
  ul
    li: a(href="/src/components/attribute.pug") Attribute
    li: a(href="/src/components/card.pug") Card
    li: a(href="/src/components/panel.pug") Panel
    li: a(href="/src/components/swipe.pug") Swipe
