doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="./root.css", rel="stylesheet")
  body.p-4.bg-neutral-200
    h1.text-3xl.text-center.font-bold(class="first-letter:italic") Hello world!
