doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="./root.css", rel="stylesheet")
    include components/all
  body
    header
      .box.flex.justify-between
        h1 SalesAxis
        nav.auth
          ul.flex
            li: a Log in
            li: a Sign up

    section.trending-product
      .box
        article(class="pb-2.5 md:p-4 bg-[#7a7b8f]")
          h2.text-center(class="md:text-left") Trending Product
          h3.text-center(class="md:text-left") Business Network for Logistics
          p.hidden(class="md:block")
            | It is a long established fact that a reader will be distracted
            | by the readable content of a page when looking at its layout.
          ul.flex.justify-between(class="md:justify-start")
            li.text-xxs.p-2.text-white.rounded-sm(class="ml-3.5 md:text-base md:m-0 bg-[#c3c3c3]/20") Product commission: 12%
            li.text-xxs.p-2.text-white.rounded-sm(class="mr-3.5 md:text-base md:m-0 md:ml-4 bg-[#c3c3c3]/20") Project size range: 500K USD

    section.top-products
      .box
        h2.text-center Top Products by Leads Industries 
      .deck
        .track
          +card("Southeast Asia market research and management consulting services", "Consulting", "img/product-image-1@2x.jpg")
            +attribute("Commission", "15%", "%", "highlight")
            +attribute("Project size range", "$60K+", "$", "accent")

          +card("Southeast Asia market research and management consulting services", "Consulting", "img/product-image-1@2x.jpg")
            +attribute("Commission", "15%", "%", "highlight")
            +attribute("Project size range", "$60K+", "$", "accent")

          +card("Southeast Asia market research and management consulting services", "Consulting", "img/product-image-1@2x.jpg")
            +attribute("Commission", "15%", "%", "highlight")
            +attribute("Project size range", "$60K+", "$", "accent")


    section.top-lead-types
      .box
        h2 Top Successful Type of Leads
        .track
          article.lead
            .description
              h3 Wholesale Consumer Goods: Personal Protection Equipment
              h4 Procurement Director / Product Manager
              p
                | Do you have any leads match the same position?
                | Lets connect and earn commission.
            ul.attributes
              li.conversion-rate
                .title Conversion rate
                .value 22%
              li.average-commission
                .title Average Commission
                .value $50K

    section.about
      .box
        h2 Who We Are
        article: p
          | Sales Axis is the platform for solution providers who are looking
          | to connect with more front end sales & consultants. And it's for
          | front end sales who are looking for new solution to sell. Simply
          | fill out the required information, and you'll get matched with
          | relevant solution providers.

    section.testimonials
      .box
        h2 What Our Users Say About Us
        p
          | A best and cheapest way of getting know learning to make a better
          | tomorrow.

    footer
      .box
        section.app-description
          img
          p
            | Our webapp, Sales Axis, is the platform for solution providers who
            | are looking to connect with more front end sales & consultants.
        section.links
          article
            h3 Pages
            ul
              li: a Product View
              li: a User dashboard
              li: a User's Lead page
          article
            h3 About
            ul
              li: a Our Story
              li: a Privacy policy
        section.newsletter
          h3 Subscribe to our newsletter
          form
            input(type="email", placeholder="Email address")
            input(type="submit", value=">")
          ul.social
            li: a F
            li: a I
            li: a T
            li: a L
